experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

experience .title {
    padding-top: 1rem;
    color: white;
}

.content {
    padding-top: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    color: white;
}

.card {
    padding: 3rem 3rem;
}

.card p{
    padding-top: 1rem;
}