.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer-bottom {
    margin-top: auto;
    align-items: center;
    font-size: 0.9rem;
    color: white;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: white;
    font-size: 1.2rem;
    margin-top:auto;
}

.contact-label {
    margin-right: 1rem;
}

.contact-links {
    display: flex;
    gap: 1.5rem;
}

.contact-link {
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-link:hover {
    transform: scale(1.2);
    color: blue;
}

.footer {
    margin-top: auto;
}
