nav {
    display: flex;
    justify-content: center; /* center nav items */
    align-items: center;
    background-color: black;
    position: relative;
    box-shadow: red 0px 3px 3px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
    padding: 0.5rem 1rem;
}
  
nav ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}
  
nav ul li {
    list-style: none;
}
  
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    transform: scale(1.10);
    text-decoration: underline;
    color: red;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: center; /* center on mobile */
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}