techstack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

techstack .title {
    padding-top: 1rem;
    color: white;
}

.content {
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    color: white;
}

